# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Build folders
build/
frontend/build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db